<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="path" value="E:\upload\" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="DbHelperConnectionString" value="Data Source=.;Initial Catalog=myschool;Persist Security Info=True;User ID=sa;Password=2222" />
  </appSettings>
  <connectionStrings>
    <add name="connstrAPP" connectionString="Data Source=192.168.10.210;Initial Catalog=szcfApp;User ID=sa2;password=szcf8086" />
    <add name="connstrAPP_demo" connectionString="Data Source=192.168.10.210;Initial Catalog=szcfApp_demo;User ID=sa2;password=szcf8086" />
    <add name="connstrGCERP" connectionString="Data Source=192.168.10.210;Initial Catalog=GCERP40_demo;User ID=sa2;password=szcf8086" />
    <add name="connstrSZCFERP" connectionString="Data Source=192.168.10.210;Initial Catalog=SZCFERP3_TEST;User ID=sa2;password=szcf8086" />
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <httpRuntime requestValidationMode="3.5" requestPathInvalidCharacters="" />
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="OPTIONS,POST,GET" />
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="WebService.asmx" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="text/plain" />
    </staticContent>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.100/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="GridView_Webserview.WebServiceSoap" name="WebServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
  </system.web>
</configuration>